<div class="col-12">
    <div class="page-header">
        <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
            <ul class="quick-links">
                <li><a href="{% url 'product_price' product.id %}">Prices</a></li>
                <li><a href="{% url 'product_machine' product.id %}">Machines</a></li>
                <li><a href="{% url 'product_machine' product.id %}">Materials</a></li>
                <!-- <li><a href="#">Historic market data</a></li> -->
            </ul>
            <!-- <ul class="quick-links ml-auto">
                <li><a href="#">Settings</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Watchlist</a></li>
            </ul> -->
        </div>
    </div>
</div>